@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700&display=swap');

.header-text {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  text-shadow: 5px 5px 5px #000000;
  color: #ffffff;
}