#about-page {
    min-height: 100vh;
    height: 100%;
    background: url("../../assets/images/bgImage.jpg");
    background-size: cover;
    overflow-x: hidden;

    #header {
        a {
            text-decoration: none;

            .header-text {
                font-family: 'Vollkorn', serif;
                font-weight: 700;
                text-shadow: 3px 3px 5px #000000;
                color: #ffffff;
                padding-top: 13vh;
                font-size: 4.6em;
                text-align: center;
            }
        }

        &.small {
            .header-text {
                padding-top: 7vh;
                font-size: 3.2em;
            }
            
        }
    }

    #about-content {
        padding-top: 7.85vh;

        #headshot-wrapper {
            text-align: center;

            #headshot-spacer {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
    
            #headshot {
                vertical-align: middle;
                border: 5px solid white;
                border-radius: 50%;
                height: auto;
                width: 100%;
                max-width: 400px;
                max-height: 400px;
                box-shadow: 2px 2px 5px #000000;
            }
        }

        #about-text {
            font-family: Vollkorn;
            color: #ffffff;
            line-height: 1.6em;
            position: relative;
            display: inline-block;
            text-shadow: 1px 1px 1px #000000;
            font-size: 1.7em;
            font-weight: 500;
            text-align: left;
        }

        &.medium {
            #headshot-wrapper {
                padding-bottom: 5.25vh;
            }

            #about-text {
                padding-left: $layout-04;
                padding-right: $layout-04;
            }
        }

        &.small {
            padding-top: 3.5vh;

            #headshot-wrapper {
                padding-left: $spacing-08;
                padding-right: $spacing-08;
                padding-bottom: 5.25vh;
            }

            #about-text {
                padding-left: $layout-03;
                padding-right: $layout-03;
            }
        }

        &:not(.small):not(.medium) {
            max-height: 500px;
        }
    }

    #footer {
        text-align: center;
        padding-top: 14vh;

        svg {
            height: 40px;
            fill: #ffffff;
            border-radius: 50%;
            box-shadow: 2px 2px 2px black;
        }

        .link-text {
            display: inline-block;
            font-family: Vollkorn;
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.6em;
            text-shadow: 2px 2px 2px #000000;
            white-space: nowrap;
        }

        &:hover {
            .bx--col:not(:hover) {
                opacity: 0.3;
            }
        }

        &.medium {
            padding-top: 14vh;
            padding-bottom: 5.25vh;

            svg {
                display: none;
            }
        }

        &.small {
            padding-bottom: 10.5vh;
            padding-top: 10.5vh;

            #links .bx--col {
                padding-left: $spacing-04;
                padding-right: $spacing-04;
            }

            .link-text {
                display: none;
            }
        }

        &:not(.small):not(.medium) {
            svg {
                display: none
            }
        }
    }
}