#about-page {
    min-height: 100vh;
    height: 100%;
    background: url("../../assets/images/bgImage.jpg");
    background-size: cover;

    #header {
        padding-top: 13vh;
        text-align: center;

        a {
            text-decoration: none;

            .header-text {
                font-family: 'Vollkorn', serif;
                font-size: 4.6rem;
                font-weight: 700;
                color: #ffffff;
                text-shadow: 3px 3px 5px #000000;
            }
        }
    }

    #about-content {
        padding-top: 7.85vh;

        #headshot-wrapper {
            text-align: center;

            #headshot-spacer {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
    
            #headshot {
                vertical-align: middle;
                border: 5px solid white;
                border-radius: 50%;
                height: auto;
                width: 100%;
                max-width: 400px;
                max-height: 400px;
                box-shadow: 2px 2px 5px #000000;
            }
        }

        #about-text {
            display: inline-block;
            position: relative;
            text-align: left;
            font-family: Vollkorn;
            line-height: 2.625rem;
            font-size: 1.7rem;
            font-weight: 500;
            color: #ffffff;
            text-shadow: 1px 1px 1px #000000;
        }
    }

    #footer {
        padding-top: 14vh;
        text-align: center;

        #links {
            &:hover {
                .bx--col:not(:hover) {
                    opacity: 0.3;
                }
            }

            svg {
                height: 40px;
                fill: #ffffff;
                border-radius: 50%;
                box-shadow: 2px 2px 2px black;
            }
    
            .link-text {
                display: inline-block;
                font-family: Vollkorn;
                font-weight: 500;
                font-size: 1.6rem;
                color: #ffffff;
                text-decoration: none;
                white-space: nowrap;
                text-shadow: 2px 2px 2px #000000;
            }
        }
    }

    &.xlarge {
        #about-content {
            max-height: 500px;
        }

        svg {
            display: none
        }
    }

    &.large {
        #about-content {
            max-height: 500px;
        }

        svg {
            display: none
        }
    }

    &.medium {
        #about-content {
            padding-top: 5vh;

            #about-text {
                padding-top: 5vh;
                padding-left: $layout-04;
                padding-right: $layout-04;
            }
        }

        #footer {
            padding-bottom: 10.5vh;

            .link-text {
                display: none;
            }
        }
    }

    &.small {
        #header {
            padding-top: 7vh;

            .header-text {
                font-size: 3.2rem;
            }
        }
        
        #about-content {
            padding-top: 3.5vh;

            #headshot-wrapper {
                padding-left: $spacing-08;
                padding-right: $spacing-08;
                padding-bottom: 5.25vh;
            }

            #about-text {
                padding-left: $layout-03;
                padding-right: $layout-03;
            }
        }

        #footer {
            padding-top: 10.5vh;
            padding-bottom: 10.5vh;

            #links {
                .bx--col {
                    padding-left: $spacing-04;
                    padding-right: $spacing-04;

                    .link-text {
                        display: none;
                    }

                    svg {
                        height: 32px;
                    }
                }
            }
        }
    }
}