#about-page {
    min-height: 100vh;
    height: 100%;
    background: url("../../assets/images/bgImage.jpg");
    background-size: cover;

    #header {
        .header-text {
            font-family: 'Vollkorn', serif;
            font-weight: 700;
            text-shadow: 5px 5px 5px #000000;
            color: #ffffff;
            padding-top: $layout-06 + $layout-02;
            font-size: 4.6em;
            text-align: center;
        }
    }

    #about-content {
        padding-top: $layout-06;

        #headshot-wrapper {
            text-align: center;

            #headshot-spacer {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
    
            #headshot {
                vertical-align: middle;
                border: 5px solid white;
                border-radius: 50%;
                height: auto;
                width: 100%;
                max-width: 404px;
                max-height: 404px;
                box-shadow: 2px 2px 10px #000000;
            }
        }

        #about-text {
            font-family: Vollkorn;
            color: #ffffff;
            line-height: 1.6em;
            position: relative;
            display: inline-block;
            text-shadow: 2px 2px 1px #000000;
            font-size: 1.6em;
            font-weight: 500;
            text-align: left;
            //padding-left: $spacing-09;
        }

        &.medium {
            #headshot-wrapper {
                padding-bottom: $layout-04;
            }
        }

        &.small {
            padding-top: $layout-03;

            #headshot-wrapper {
                padding-bottom: $layout-04;
            }

            #about-text {
                padding-left: $spacing-08;
                padding-right: $spacing-08;
            }
        }
    }

    #footer {
        text-align: center;
        padding-top: $layout-06 + $layout-03;

        svg {
            height: 32px;
            fill: #ffffff;
        }

        .link-text {
            display: inline-block;
            font-family: Vollkorn;
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.6em;
            text-shadow: 2px 2px 5px #000000;
            white-space: nowrap;
        }

        &:hover {
            .link-text:not(:hover) {
                opacity: 0.3;
            }
    
            svg:not(:hover) {
                opacity: 0.3;
            }
        }

        &.medium {
            padding-top: $layout-06 + $layout-03;
            padding-bottom: $layout-04;

            svg {
                height: 40px;
                display: none;
            }
        }

        &.small {
            padding-bottom: $layout-04;
            padding-top: $layout-06;

            .link-text {
                display: none;
            }

            a {
                // padding-left: $spacing-04;
                // padding-right: $spacing-04;
            }

            svg {
                height: 40px;
            }
        }

        &:not(.small):not(.medium) {
            svg {
                display: none
            }
        }
    }
}