@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/spacing.scss";
@import "carbon-components/scss/components/text-input/text-input.scss";
@import "carbon-components/scss/components/button/button.scss";


@import "./components/Header/header.scss";
@import "./components/Main/main.scss";
@import "./components/Footer/footer.scss";
@import "./views/Home/home.scss";

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInFromBelow {
    0%   {transform: translate(0px, 60px);}
    60%  {transform: translate(0px, -15px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes translateCircle {
    0%, 100%   {transform: translate(calc(var(--translateCircleSize) * -1px), calc(var(--translateCircleSize) * 1px));}
    13%  {transform: translate(calc(var(--translateCircleSize) * -1.5px), calc(var(--translateCircleSize) * 0px));}
    25%  {transform: translate(calc(var(--translateCircleSize) * -1px), calc(var(--translateCircleSize) * -1px));}
    38%  {transform: translate(calc(var(--translateCircleSize) * 0px), calc(var(--translateCircleSize) * -1.5px));}
    50%  {transform: translate(calc(var(--translateCircleSize) * 1px), calc(var(--translateCircleSize) * -1px));}
    63%  {transform: translate(calc(var(--translateCircleSize) * 1.5px), calc(var(--translateCircleSize) * 0px));}
    75%  {transform: translate(calc(var(--translateCircleSize) * 1px), calc(var(--translateCircleSize) * 1px));}
    88%  {transform: translate(calc(var(--translateCircleSize) * 0px), calc(var(--translateCircleSize) * 1.5px));}
}